*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  width: 70%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 2em 0;
  height: 100vh;
}

.row {
  display: flex;
}

.input-container input {
  display: none;
}

.input-container button {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.7em 1.6em;
  border: none;
  background: none;
  box-shadow: 2px 2px 5px gray;
}

.image-container {
  height: 90%;
  margin: 2rem 0;
}

.cropper-container {
  height: 90%;
  position: relative;
}

.slider {
  width: 80%;
  height: 10%;
  margin: 0 auto;
}

.slider input {
  width: 100%;
}

.download-btn {
  background: transparent;
  font-weight: 500 !important;
  font-size: 0.9rem;
  padding: 1em 1.6em;
  border: none;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 1rem;
}
